---
description: E-Mail-Überprüfung - Marketo-Dokumente - Produktdokumentation
title: E-Mail-Überprüfung
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 05129f546cf2ba0df5c608485adf73c26d4b4f1e
workflow-type: tm+mt
source-wordcount: '135'
ht-degree: 0%

---

# E-Mail-Überprüfung {#email-verification}

Bei Abonnements von Adobe Marketo Engage müssen alle Benutzer, die keine API verwenden, ihre E-Mail-Adresse überprüfen. Benutzer mit Single Sign-on (SSO) werden automatisch ihre E-Mail verifiziert, wenn ihr Abonnement mit E-Mail-Verifizierung aktiviert ist.

**Einladung für Benutzer**

Wenn ein Administrator einen Benutzer einlädt, wird dieser automatisch überprüft, sobald er auf den Link zum Einladen klickt. Benutzer mit SSO werden automatisch überprüft.

**E-Mail-Adresse ändern**

Wenn die E-Mail-Adresse eines Benutzers geändert wird, wird sie nicht überprüft. Sie erhalten eine E-Mail, in der sie eine erneute Überprüfung durchführen können. Administratoren können diese E-Mail manuell erneut senden, indem sie auf **Überprüfung erneut durchführen**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Benutzer und Rollen**

In Admin > Benutzer und Rollen zeigt die Spalte E-Mail-Status den Verifizierungsstatus jedes Benutzers an.

![](assets/email-verification-3.png)

Um einen nicht geprüften Benutzer zu überprüfen, wählen Sie einfach seinen Datensatz aus und klicken Sie auf die **Email überprüfen** Schaltfläche.
