---
description: E-Mail-Überprüfung - Marketo-Dokumente - Produktdokumentation
title: E-Mail-Überprüfung
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# E-Mail-Überprüfung {#email-verification}

Bei Adobe Marketo Engage-Abonnements müssen alle Benutzer, die keine API verwenden, ihre E-Mail-Adresse überprüfen. Benutzer mit Single Sign-on (SSO) werden automatisch ihre E-Mail verifiziert, wenn ihr Abonnement mit E-Mail-Verifizierung aktiviert ist.

**Einladung für Benutzer**

Wenn ein Administrator einen Benutzer einlädt, wird dieser automatisch überprüft, sobald er auf den Link zum Einladen klickt. Benutzer mit SSO werden automatisch überprüft.

**E-Mail-Adresse ändern**

Wenn die E-Mail-Adresse eines Benutzers geändert wird, wird sie nicht überprüft. Sie erhalten eine E-Mail, in der sie eine erneute Überprüfung durchführen können. Benutzer können diese E-Mail manuell erneut senden, indem sie auf **Überprüfung erneut durchführen**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Benutzer und Rollen**

In Admin > Benutzer und Rollen zeigt die Spalte E-Mail-Status den Verifizierungsstatus jedes Benutzers an.

![](assets/email-verification-3.png)

Um eine Verifizierungs-E-Mail erneut an einen nicht verifizierten Benutzer zu senden, wählen Sie einfach dessen Datensatz aus und klicken Sie auf die **Email überprüfen** Schaltfläche.
