---
description: E-Mail-Überprüfung - Marketo-Dokumente - Produktdokumentation
title: E-Mail-Überprüfung
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# E-Mail-Überprüfung {#email-verification}

Ich glaube, Sie haben gesagt, wir werden nur eine neue Seite erstellen, die die E-Mail-Verifizierung für Benutzer umfasst

Einladung eines Benutzers Wenn ein Administrator einen Benutzer einlädt, keine Änderung der Benutzeroberfläche oder des Benutzererlebnisses Wenn der Benutzer auf den Link zum Einladen klickt, wird seine E-Mail automatisch verifiziert, dass Benutzer mit SSO automatisch verifiziert werden

Der Bildschirm &quot;Benutzerkonto&quot;zeigt die E-Mail-Adresse als verifiziert an. Wenn die E-Mail-Adresse aktualisiert wird, spiegelt die Benutzeroberfläche wider, dass die E-Mail-Adresse für das Konto nicht verifiziert ist und E-Mails gesendet werden (siehe angehängte E-Mail).

Admin - Seite &quot;Benutzer und Rollen&quot;Neue Spalte mit dem Überprüfungsstatus eines Benutzers Neue Schaltfläche zum erneuten Trigger der E-Mail-Verifizierung für den Benutzer

MyMarketo Wenn sich ein Benutzer mit nicht verifizierter E-Mail anmeldet, sollte er ein Banner auf der Seite &quot;My Marketo&quot;sehen (NUR).
